<main class="travel__holder container">
    <header class="travel__route">
        <h2>{{ travel.startingPoint }}</h2>
        <div class="travel__distance">
            <i [ngClass]="determineTransportationMean()">
            </i>
            {{travel.distanceInKM}} km
        </div>
        <h2>{{ travel.destination }}</h2>
    </header>
    <div class="travel__description">
        <time class="travel__length">
            <i class="fa fas fa-clock"></i>
            {{ travel.travelTimeInMinutes }} min
        </time>
        <span class="travel__price">
            <i class="fa fa-solid fa-coins"></i>
            {{ travel.priceInEUR }} EUR
        </span>
        <p *ngIf="this.travel.reviews.length > 0; else notYetRated">
            Rating: {{ travel.averageRating }} (rated {{ this.travel.reviews.length }} times)
        </p>
        <ng-template #notYetRated>
            <p style="font-size: 1.4rem">
                Travel is not yet rated
            </p> 
        </ng-template>
    </div>

</main>
<section class="container">
    <h2 class="text--large">
        Reviews ({{ this.travel.reviews.length }})
    </h2>
    <div *ngIf="userCompletedTravel()">
        <input type="number" 
               name="rating" 
               class="control" 
               id="travel-rating" 
               (change)="setRating($event)" 
               placeholder="Enter rating (0-5)"
        />
        <textarea name="writeReview" 
                  id="writeReview" 
                  cols="30" 
                  rows="10" 
                  class="control"
                  placeholder="Write a review"
                  (change)="setReviewText($event)"
        ></textarea>
        <button class="control" (click)="submitReview()">
            Submit review
        </button>
    </div>
    <ul class="reviews-holder kids-vertical-spacing">
        <li *ngFor="let review of this.travel.reviews">
            {{ review.username }}: {{ review.reviewText }}
            <br/>
            Rating: {{ review.rating }}
        </li>
    </ul>
</section>